name: Build Windows EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install pyperclip pyinstaller pillow

      - name: Convert image to ICO
        run: |
          python - <<EOF
          from PIL import Image
          img = Image.open("eren.png")
          img = img.resize((256,256))
          img.save("eren.ico", format="ICO")
          EOF

      - name: Build EXE
        run: |
          pyinstaller --onefile --noconsole --icon=eren.ico copy_txt.py

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: CopyTXT_EREN
          path: dist/copy_txt.exe
